<%- include('../partials/head') %>
<link rel="stylesheet" href="/css/productCart.css" />
<title>Carrito de compras</title>
</head>

<body>
  <%- include('../partials/header') %>

  <main class="carrito">
    <h2>PRODUCTOS EN SU CARRITO</h2>
    <div class="contenedor-carrito">
      <section class="tarjetas-de-productos">
        <article class="producto">
          <h4 class="nombre">Nombre del producto</h4>
          <div class="tarjeta">
            <img src="/img/img6.jpg" alt="" class="imagen-producto" />
            <p class="precio">$ 000</p>
            <p class="cantidad">+ 00 -</p>
            <p class="subtotal">$ 000</p>
          </div>
        </article>
        <article class="producto">
          <h4 class="nombre">Nombre del producto</h4>
          <div class="tarjeta">
            <img src="/img/img5.jpg" alt="" class="imagen-producto" />
            <p class="precio">$ 000</p>
            <p class="cantidad">+ 00 -</p>
            <p class="subtotal">$ 000</p>
          </div>
        </article>
        <article class="producto">
          <h4 class="nombre">Nombre del producto</h4>
          <div class="tarjeta">
            <img src="/img/img1.jpg" alt="" class="imagen-producto" />
            <p class="precio">$ 000</p>
            <p class="cantidad">+ 00 -</p>
            <p class="subtotal">$ 000</p>
          </div>
        </article>
        <article class="producto">
          <h4 class="nombre">Nombre del producto</h4>
          <div class="tarjeta">
            <img src="/img/img4.jpg" alt="" class="imagen-producto" />
            <p class="precio">$ 000</p>
            <p class="cantidad">+ 00 -</p>
            <p class="subtotal">$ 000</p>
          </div>
        </article>
        <article class="producto">
          <h4 class="nombre">Nombre del producto</h4>
          <div class="tarjeta">
            <img src="/img/img3.jpg" alt="" class="imagen-producto" />
            <p class="precio">$ 000</p>
            <p class="cantidad">+ 00 -</p>
            <p class="subtotal">$ 000</p>
          </div>
        </article>
      </section>
      <section class="total">
        <div class="tarjeta">
          <h4>Resumen de su compra</h4>
          <p class="cantProductos">Cantidad de productos: $ 00</p>
          <p class="envio">Envio: $ 000</p>
          <h4>Total del carrito : $ 000</h4>
        </div>
        <button class="seguir" type="submit">Seguir comprando</button>
        <button class="finalizar" type="submit">Finalizar compra</button>
      </section>
    </div>
  </main>

  <%- include('../partials/footer') %>
</body>

</html>