<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/styleIndex.css" />

    <link rel="shortcut icon" href="/img/m3d.png" type="image/x-icon" />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800&display=swap"
      rel="stylesheet"

    />
    <title>Mundo 3D</title>
  </head>

  <body>
    <div class="mensaje"> <p>Si puedes pensarlo, puedes crearlo</p>
    </div>
    <header>
        <div class="logo">
          <img src="/img/pngwing.com.png" alt="Logo">
          <span class="nombre">Mundo 3D</span>
        </div>
      <nav class="barra-navegacion">
        <ul class="barra-izquierda">
          <li><a href="\">Inicio</a></li>
          <li><a href="\productDetail">Productos</a></li>
        </ul>
        <ul class="barra-derecha">
          <li><a href="\login">Inicia sesion</a></li>
          <li><a href="\register">Registrate</a></li>
          <li><a href="\productCart">Carrito</a></li>
        </ul>
      </nav>
      <div class="buscador">
        <input type="text" placeholder="Buscar productos...">
        <button type="submit">Buscar</button>
    </div>
    </header>

    <section class="banner">
      <img src="/img/699b24b0a24fe3586f3369783336ac56.jpg" alt="banner">
    </section>
    <main>
        <article class="product">
          <img src="/img/img14.jpg" alt="Producto 1">
          <h2>Yoda Figura</h2>
          <span class="precio">$1059</span>

        </article>
        <article class="product">
            <img src="/img/img2.jpg" alt="Producto 1">
            <h2>Deadpool</h2>
            <span class="precio">$2999</span>
  
          </article>
          <article class="product">
            <img src="/img/img3.jpg" alt="Producto 1">
            <h2>Sonic</h2>
            <span class="precio">$1199</span>
  
          </article>
          <article class="product">
            <img src="/img/img4.jpg" alt="Producto 1">
            <h2>Mario</h2>
            <span class="precio">$4599</span>
  
          </article>
          <article class="product">
            <img src="/img/img5.jpg" alt="Producto 1">
            <h2>Toad</h2>
            <span class="precio">$5999</span>
  
          </article>
          <article class="product">
            <img src="/img/img13.jpg" alt="Producto 1">
            <h2>Groot</h2>
            <span class="precio">$5699</span>
  
          </article>
          <article class="product">
            <img src="/img/img7.jpg" alt="Producto 1">
            <h2>Destello</h2>
            <span class="precio">$23999</span>
  
          </article>   
           <article class="product">
            <img src="/img/img17.jpg" alt="Producto 1">
            <h2>Charmander</h2>
            <span class="precio">$9999</span>
  
          </article>    
          <article class="product">
            <img src="/img/img12.jpg" alt="Producto 1">
            <h2>Spiderman</h2>
            <span class="precio">$15999</span>
  
          </article>          
          <article class="product">
            <img src="/img/img8.jpg" alt="Producto 1">
            <h2>Planta Piraña</h2>
            <span class="precio">$15999</span>
  
          </article>
    </main>
    <footer>
      <p> 2023 Mundo3D. Todos los derechos reservados.</p>
    </footer>
  </body>
</html>
