<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/stylesProductDetail.css" />
    <link rel="shortcut icon" href="/img/m3d.png" type="image/x-icon" />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800&display=swap"
      rel="stylesheet"
    />
    <title>Mundo 3D</title>
  </head>
  <body>
    <header>
      <h1>Mundo3D</h1>
      <nav class="barra-navegacion">
        <ul class="barra-izquierda">
          <li><a href="\">Inicio</a></li>
          <li><a href="\productDetail">Productos</a></li>
        </ul>
        <ul class="barra-derecha">
          <li><a href="\login">Inicia sesion</a></li>
          <li><a href="\register">Registrate</a></li>
          <li><a href="\productCart">Carrito</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <h2><span>NUESTROS PRODUCTOS</span></h2>
      <section class="contenido_produc">
        <article class="contenido">
          <div class="imagen">
            <img src="/img/img1.jpg" alt="" />
          </div>
          <div class="pie_imagen">
            <h3 class="info_produc">LLAVERO DE DEFENSA PERSONAL</h3>
            <p class="price">$400</p>
            <button>Añadir al carrito</button>
          </div>
        </article>
        <article class="contenido">
          <div class="imagen">
            <img src="/img/img2.jpg" alt="" />
          </div>
          <div class="pie_imagen">
            <h3 class="info_produc">FIGURA DECORATIVA DE DEADPOOL</h3>
            <p class="price">$4700</p>
            <button>Añadir al carrito</button>
          </div>
        </article>
        <article class="contenido">
          <div class="imagen">
            <img src="/img/img3.jpg" alt="" />
          </div>
          <div class="pie_imagen">
            <h3 class="info_produc">SONIC</h3>
            <p class="price">$4300</p>
            <button>Añadir al carrito</button>
          </div>
        </article>
        <article class="contenido">
          <div class="imagen">
            <img src="/img/img4.jpg" alt="" />
          </div>
          <div class="pie_imagen">
            <h3 class="info_produc">MARIO BROS</h3>
            <p class="price">$4200</p>
            <button>Añadir al carrito</button>
          </div>
        </article>
        <article class="contenido">
          <div class="imagen">
            <img src="/img/img5.jpg" alt="" />
          </div>
          <div class="pie_imagen">
            <h3 class="info_produc">HONGO MARIO BROS</h3>
            <p class="price">$1700</p>
            <button>Añadir al carrito</button>
          </div>
        </article>
        <article class="contenido">
          <div class="imagen">
            <img src="/img/img6.jpg" alt="" />
          </div>
          <div class="pie_imagen">
            <h3 class="info_produc">NINE-TAILED DEMON FOX</h3>
            <p class="price">$2300</p>
            <button>Añadir al carrito</button>
          </div>
        </article>
        <article class="contenido">
          <div class="imagen">
            <img src="/img/img7.jpg" alt="" />
          </div>
          <div class="pie_imagen">
            <h3 class="info_produc">LUMALEE EN JAULA - MULTICOLOR</h3>
            <p class="price">$3500</p>
            <button>Añadir al carrito</button>
          </div>
        </article>
        <article class="contenido">
          <div class="imagen">
            <img src="/img/img8.jpg" alt="" />
          </div>
          <div class="pie_imagen">
            <h3 class="info_produc">JARDINERA PIRAÑA</h3>
            <p class="price">$1600</p>
            <button>Añadir al carrito</button>
          </div>
        </article>
        <article class="contenido">
          <div class="imagen">
            <img src="/img/img9.jpg" alt="" />
          </div>
          <div class="pie_imagen">
            <h3 class="info_produc">COPA DEL MUNDO</h3>
            <p class="price">$3500</p>
            <button>Añadir al carrito</button>
          </div>
        </article>
        <article class="contenido">
          <div class="imagen">
            <img src="/img/img10.jpg" alt="" />
          </div>
          <div class="pie_imagen">
            <h3 class="info_produc">PIRAMIDE SIERPINSKI</h3>
            <p class="price">$1800</p>
            <button>Añadir al carrito</button>
          </div>
        </article>
        <article class="contenido">
          <div class="imagen">
            <img src="/img/img11.jpg" alt="" />
          </div>
          <div class="pie_imagen">
            <h3 class="info_produc">COMBO PORTA ESPONJAS DE BOB🧽 Y PATRICIO⭐</h3>
            <p class="price">$2600</p>
            <button>Añadir al carrito</button>
          </div>
        </article>
        <article class="contenido">
          <div class="imagen">
            <img src="/img/img12.jpg" alt="" />
          </div>
          <div class="pie_imagen">
            <h3 class="info_produc">BUSTO DE SPIDER-MAN</h3>
            <p class="price">$3000</p>
            <button>Añadir al carrito</button>
          </div>
        </article>
        <article class="contenido">
          <div class="imagen">
            <img src="/img/img13.jpg" alt="" />
          </div>
          <div class="pie_imagen">
            <h3 class="info_produc">MACETA DE GROOT</h3>
            <p class="price">$1600</p>
            <button>Añadir al carrito</button>
          </div>
        </article>
        <article class="contenido">
          <div class="imagen">
            <img src="/img/img14.jpg" alt="" />
          </div>
          <div class="pie_imagen">
            <h3 class="info_produc">BABY YODA</h3>
            <p class="price">$1600</p>
            <button>Añadir al carrito</button>
          </div>
        </article>
        <article class="contenido">
          <div class="imagen">
            <img src="/img/img15.jpg" alt="" />
          </div>
          <div class="pie_imagen">
            <h3 class="info_produc">DEDOS Y LLAVERITOS</h3>
            <p class="price">$5000</p>
            <button>Añadir al carrito</button>
          </div>
        </article>
        <article class="contenido">
          <div class="imagen">
            <img src="/img/img16.jpg" alt="" />
          </div>
          <div class="pie_imagen">
            <h3 class="info_produc">FUNKO DE JULIAN ÁLVAREZ</h3>
            <p class="price">$3500</p>
            <button>Añadir al carrito</button>
          </div>
        </article>
        <article class="contenido">
          <div class="imagen">
            <img src="/img/img17.jpg" alt="" />
          </div>
          <div class="pie_imagen">
            <h3 class="info_produc">CHARMANDER</h3>
            <p class="price">$4000</p>
            <button>Añadir al carrito</button>
          </div>
        </article>
        <article class="contenido">
          <div class="imagen">
            <img src="/img/img18.jpg" alt="" />
          </div>
          <div class="pie_imagen">
            <h3 class="info_produc">STITCH</h3>
            <p class="price">$3600</p>
            <button>Añadir al carrito</button>
          </div>
        </article>
        <article class="contenido">
          <div class="imagen">
            <img src="/img/img19.jpg" alt="" />
          </div>
          <div class="pie_imagen">
            <h3 class="info_produc">GOKU</h3>
            <p class="price">$4800</p>
            <button>Añadir al carrito</button>
          </div>
        </article>
        <article class="contenido">
          <div class="imagen">
            <img src="/img/img20.jpg" alt="" />
          </div>
          <div class="pie_imagen">
            <h3 class="info_produc">HANNYA MASK MASCARA SAMURAI JAPONESA</h3>
            <p class="price">$4200</p>
            <button>Añadir al carrito</button>
          </div>
        </article>
      </section>
      <script src="../carrito.js"></script>
    </main>

    <footer>
      <p>&copy; 2023 Mundo3D. Todos los derechos reservados.</p>
    </footer>
  </body>
</html>
