<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/stylesContact.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Mundo 3D</title>
  </head>
  <body>
    <header>
      <h1>Mundo3D</h1>
      <nav class="barra-navegacion">
        <ul>
          <div class="barra-izquierda">
            <li><a href="\">Inicio</a></li>
            <li><a href="\productDetail">Producto</a></li>
            <li><a href="">Personalización</a></li>
            <li><a href="\contact">Contacto</a></li>
          </div>
          <div class="barra-derecha">
            <li><a href="\productCart">Carrito</a></li>
            <li><a href="\register">Registrate</a></li>
            <li><a href="\login">Inicia sesion</a></li>
          </div>
        </ul>
      </nav>
    </header>

    <main>
      <h2>Productos</h2>
      <p>Explora nuestra colección de productos impresos en 3D.</p>
      <p>Personaliza y crea objetos únicos a tu gusto.</p>
    </main>

    <footer>
      <p>&copy; 2023 Mundo3D. Todos los derechos reservados.</p>
    </footer>
  </body>
</html>
