<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/stylesProductCart.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="shortcut icon" href="/img/m3d.png" type="image/x-icon" />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800&display=swap"
      rel="stylesheet"
    />
    <title>Mundo 3D</title>
  </head>
  <body>
    <header>
      <h1>Mundo3D</h1>
      <nav class="barra-navegacion">
        <ul class="barra-izquierda">
          <li><a href="\">Inicio</a></li>
          <li><a href="\productDetail">Productos</a></li>
        </ul>
        <ul class="barra-derecha">
          <li><a href="\login">Inicia sesion</a></li>
          <li><a href="\register">Registrate</a></li>
          <li><a href="\productCart">Carrito</a></li>
        </ul>
      </nav>
    </header>

    <main class="carrito">
      <h4>Carrito</h4>
      <div class="contenedor-carrito">
        <section class="tarjetas-de-productos">
          <nav class="barra">
            <h5>PRODUCTO</h5>
            <h5>PRECIO</h5>
            <h5>CANTIDAD</h5>
            <h5>SUBTOTAL</h5>
          </nav>
          <article class="producto">
            <p class="nombre">Nombre del producto</p>
            <div class="tarjeta">
              <img src="/img/img6.jpg" alt="" class="imagen-producto" />
              <p class="precio">$000</p>
              <p class="cantidad">+ 00 -</p>
              <p class="subtotal">$000</p>
            </div>
          </article>
          <article class="producto">
            <p class="nombre">Nombre del producto</p>
            <div class="tarjeta">
              <img src="/img/img5.jpg" alt="" class="imagen-producto" />
              <p class="precio">$000</p>
              <p class="cantidad">+ 00 -</p>
              <p class="subtotal">$000</p>
            </div>
          </article>
          <article class="producto">
            <p class="nombre">Nombre del producto</p>
            <div class="tarjeta">
              <img src="/img/img5.jpg" alt="" class="imagen-producto" />
              <p class="precio">$000</p>
              <p class="cantidad">+ 00 -</p>
              <p class="subtotal">$000</p>
            </div>
          </article>
          <article class="producto">
            <p class="nombre">Nombre del producto</p>
            <div class="tarjeta">
              <img src="/img/img5.jpg" alt="" class="imagen-producto" />
              <p class="precio">$000</p>
              <p class="cantidad">+ 00 -</p>
              <p class="subtotal">$000</p>
            </div>
          </article>
          <article class="producto">
            <p class="nombre">Nombre del producto</p>
            <div class="tarjeta">
              <img src="/img/img5.jpg" alt="" class="imagen-producto" />
              <p class="precio">$000</p>
              <p class="cantidad">+ 00 -</p>
              <p class="subtotal">$000</p>
            </div>
          </article>
        </section>
        <section class="total">
          <div class="tarjeta">
            <h4>Total del carrito</h4>
            <p class="total">$000</p>
          </div>
          <button class="seguir" type="submit">Seguir comprando</button>
          <button class="finalizar" type="submit">Finalizar compra</button>
        </section>
      </div>
    </main>

    <footer>
      <p>&copy; 2023 Mundo3D. Todos los derechos reservados.</p>
    </footer>
  </body>
</html>
