/* Estilos adicionales para dispositivos móviles */
@media (max-width: 768px) {
  .containerNP {
    padding: 15px;
    max-width: 100%;
    min-width: 50%;
  }
}

/* Estilos adicionales para tablets */
@media (min-width: 768px) and (max-width: 1024px) {
  .containerNP {
    padding: 20px;
    max-width: 100%;
    min-width: 50%;
  }
}

body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;

  background: #f1bc0e;
  background: -webkit-linear-gradient(
      to right,
      hsla(64, 85%, 47%, 0.671),
      hsla(0, 2%, 9%, 0.89)
    );
  background: linear-gradient(
      to right,
      hsla(61, 83%, 49%, 0.671),
      hsla(240, 1%, 13%, 0.89)
    );
  background-size: cover;
  background-attachment: fixed;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
}

.containerNP {
  border-radius: 8px;
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
  text-align: center;
}

.containerNP h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.containerNP label {
  display: block;
  font-weight: bold;
  margin-bottom: 8px;
}

.containerNP select,
.containerNP input,
.containerNP textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.containerNP button {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 3px;
  margin-bottom: 5px;
}

.containerNP button:hover {
  background-color: #333;
}
