h1 {
  color: white;
  text-shadow: 1px 2px 2px black, 0 0 blue, 0 0 5px blue;
  text-align: center;
}

article.contenido {
  margin: 10px 20px;
  box-shadow: 0 4px 8px lightskyblue, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  float: left;
  width: 350px;
}

article.contenido img {
  width: 100%;
  height: auto;
}

article.contenido:hover {
  border: 1px solid lightcoral;
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
}

/* Estilos para tablets */
@media (min-width: 768px) and (max-width: 1024px) {
}

/* Estilos para escritorios */
@media (min-width: 1025px) {
}
