/* Estilos globales */
* {
  box-sizing: border-box;
}

/* Estilos del body */
body {
  background-color: #ebebeb;
  font-family: Arial, sans-serif;
}

/* Estilos del header */
header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

/* Estilo de la barra de navegacion */
nav.barra-navegacion {
  display: flex;
  justify-content: space-between;
  width: 90vw;
  margin: auto;
}

nav.barra-navegacion ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav.barra-navegacion li {
  display: inline;
  margin-right: 20px;
}

nav.barra-navegacion a {
  color: #fff;
  text-decoration: none;
}

/* Estilos del contenido principal */
main {
  width: 100%;
  margin: auto;
}

h2 {
  display: flex;
  justify-content: center;
  font-size: 30px;
  margin-bottom: 60px;
}

/* Estilos del pie de página */
footer {
  background-color: #333;
  color: #fff;
  padding: 3px;
  text-align: center;
  width: 100%;
}

/* Estilos para el contenedor --> por ahora no hay contenedor*/
main .contenedor {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f0d3d3;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* Estilos para el formulario */
.registro {
  display: flex;
  flex-direction: column;
}

.registro h2 {
  text-align: center;
  margin-bottom: 20px;
}

.registro label {
  font-weight: bold;
  margin-bottom: 5px;
}

.registro input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.registro button {
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.registro button:hover {
  background-color: #555;
}

/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
  header {
    width: 100%;
    font-size: 24px;
  }

  header nav.barra-navegacion {
    display: none;
  }

  main {
    padding: 10px;
  }

  footer {
    font-size: 14px;
  }
}

/* Estilos para tablets */
@media (min-width: 768px) {
  header {
    font-size: 24px;
    display: flex;
    flex-direction: column;
  }

  header div.logo {
    display: flex;
    justify-content: center;
  }

  header nav.barra-navegacion li {
    margin: 0px 10px;
  }

  header nav.barra-navegacion a {
    font-size: 20px;
  }

  main {
    padding: 15px;
  }

  footer {
    font-size: 14px;
  }
}

/* Estilos para escritorios */
@media (min-width: 1025px) {
  /* Limito el tamaño de la barra de navegacion para pantallas grandes */
  .barra-navegacion {
    max-width: 1200px;
    margin: auto;
  }

  main {
    padding: 40px;
    background-color: rgb(248, 199, 199);
  }

  footer {
    font-size: 16px;
  }
}
