<%- include('./partials/head') %>
<title>404</title>
</head>

<body>
  <%- include('./partials/header') %>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <main>
    <img src= "img/ERROR 404.png" alt="error404">
  </main>

  <%- include('./partials/footer') %>
</body>

</html>