<%- include('./partials/head') %>
<title>404</title>
</head>

<body>
  <%- include('./partials/header') %>

  <main>
    <h1><%= message %></h1>
  </main>

  <%- include('./partials/footer') %>
</body>

</html>