<%- include('../partials/head') %>
  <link rel="stylesheet" href="/css/login.css" />
  <title>Inicia sesión</title>
  </head>

  <body>
    <%- include('../partials/header') %>

      <main class="containerMainLogin">
        <section>
          <h1>Acerca de Nosotros</h1>
        </section>

        <section>
          <h2>Nuestra Historia</h2>
          <p>Somos un apasionado grupo de expertos dedicados a la impresión de figuras en 3D. Desde nuestros inicios,
            hemos llevado la creatividad y la innovación a un nuevo nivel, ofreciendo a nuestros clientes una amplia
            variedad de opciones para materializar sus ideas en objetos tangibles y personalizados.</p>
          <p>Nuestra misión es convertir la visión de nuestros clientes en realidad, proporcionando servicios de
            impresión 3D de alta calidad. Nos enorgullece ofrecer soluciones únicas que superan las expectativas y
            reflejan nuestra dedicación a la excelencia.</p>
        </section>

        <section>
          <h2>Nuestro Equipo</h2>
          <p>Somos un equipo apasionado y comprometido de tres profesionales expertos en impresión 3D. Cada miembro
            aporta
            habilidades únicas y experiencia en el campo, asegurando que cada proyecto sea ejecutado con precisión y
            creatividad.</p>
          <p>Nuestra fuerza radica en la colaboración y la innovación. Trabajamos juntos para brindar soluciones
            personalizadas que reflejen la visión única de cada cliente. Con nosotros, su imaginación es el límite.</p>

        </section>


      </main>

      <%- include('../partials/footer') %>
  </body>

  </html>