<%- include('./partials/head') %>
<link rel="stylesheet" href="/css/aboutUs.css" />
<title>About Us</title>
</head>

<body>
  <%- include('./partials/header') %>

  <main class="containerMainLogin">
    <section>
      <h1>Acerca de Nosotros</h1>
    </section>

    <section>
      <h2>Nuestra Historia</h2>
      <p>.</p>
    </section>

    <section>
      <h2>Nuestro Equipo</h2>
      <p>.</p>

    </section>


  </main>

  <%- include('./partials/footer') %>
</body>

</html>