<%- include('./partials/head') %>

<link rel="stylesheet" href="/css/index.css" />
<link rel="stylesheet" href="/css/carousel.css" />

<title>Home</title>
</head>

<body>
  <div class="message">
    <p>nutapp</p>
  </div>

  <%- include('./partials/header') %>

  <main class="index">

    <% if (locals.isLogged) { %>
      <form action="/new-event" >
        <button type="submit" style="background-color: red; color: white;">Crear Evento</button>
      </form>
      
      <% } %>
   

    <h2 class="titulo">Eventos</h2>
    <article class="product">
      <!--<img src="/img/img14.jpg" alt="Producto 1" /-->
    </article>
    <article class="product">
      <!--<img src="/img/img2.jpg" alt="Producto 2" />-->
    </article>
    <article class="product">
      <!--<img src="/img/img3.jpg" alt="Producto 3" />-->
    </article>
    <article class="product">
      <!--<img src="/img/img5.jpg" alt="Producto 1" />-->
    </article>
    <article class="product">
      <!--<img src="/img/img9.jpg" alt="Producto 2" />-->
    </article>
    <article class="product">
      <!--<img src="/img/img4.jpg" alt="Producto 3" />-->
    </article>
  </main>

  <%- include('./partials/footer') %>
  <script src="/js/carousel.js"></script>

</body>

</html>