<footer>
  <section class="containerFooter">
    <article class="containerSections">
      <h4>Sucursales</h4>
      <ul>
        <li>San Miguel</li>
        <li>Bella Vista</li>
        <li>Polvorines</li>
      </ul>
    </article>

    <article class="containerSections">
      <h4>La Empresa</h4>
      <ul>
        <li>Terminos y condiciones</li>
        <li>Politica de privacidad</li>
        <li>Nosotros</li>
      </ul>
    </article>

    <article class="containerSections">
      <h4>Ayuda</h4>
      <ul>
        <li>Preguntas frecuentes</li>
        <li>Paso a paso</li>
        <li>Ayuda</li>
      </ul>
    </article>
  </section>

  <section class="containerCopyRedes">
    <article class="containerCopyright">
      <p>2023 Mundo3D. Todos los derechos reservados.</p>
    </article>
    <article class="containerRedes">
      <a href="https://wa.me/1144472065"><img src="/img/icons8-whatsapp.svg" alt="logo whatsapp"></a>
      <a href="https://www.instagram.com/herni.print3d/?hl=es-la"><img src="/img/icons8-instagram.svg" alt="logo instagram"></a>
    </article>
  </section>
</footer>