<header>
  <div class="logo">
    <a href="\"><img src="/img/mundo3d.png" alt="Logo" /></a>
  </div>
  <div class="buscador">
    <input type="text" placeholder="Buscar productos..." />
    <button type="submit">Buscar</button>
  </div>
  <nav class="barra-navegacion">
    <ul class="barra-izquierda">
      <li><a href="\">Inicio</a></li>
      <li><a href="\productMenu">Productos</a></li>
      <li><a href="\productDetail">Detalle de producto</a></li>
      <li><a href="\new-product">Nuevo producto</a></li>
    </ul>
    <ul class="barra-derecha">
      <% if (locals.isLogged) {%>
      <li class="nav-item">
        <img src="/img/users/<%= locals.userLogged.Image %>" width="40" style="border-radius: 100%;">
        <a class=""> Hola <%= locals.userLogged.FirstName %> </a>
        <ul class="menuDesplegable">
          <a href="/profile">Mi perfil</a>
          <a href="/logout">Cerrar sesion</a>
        </ul>
      </li>
      <% } else { %>
      <li><a href="\login">Inicia sesion</a></li>
      <li><a href="\register">Registrate</a></li>
      <% } %>
      <li><a href="\productCart">Carrito</a></li>
    </ul>
  </nav>
</header>