<%- include('../partials/head') %>
<link rel="stylesheet" href="/css/login.css" />
<title>Inicia sesi칩n</title>
</head>

<body>
  <%- include('../partials/header') %>

  <main class="containerMainLogin">
    <div class="containerRegistroLogin">
      <form action="/login" method="POST" class="register">
        <label for="email">Correo Electr칩nico: </label>
        <input type="email" class="control" id="email" name="email" required />

        <label for="contrasena">Contrase침a: </label>
        <input type="password" class="control" id="contrasena" name="contrasena" required />

        <button type="submit" class="subir-sesion">Iniciar Sesi칩n</button>
      </form>
    </div>
  </main>

  <%- include('../partials/footer') %>
</body>

</html>